<button {{action 'buttonClicked'}} class="btn btn-primary">Send</button>
<button {{action 'subscribeButton'}} class="btn btn-primary">Subscribe</button>
<button {{action 'unsubscribeButton'}} class="btn btn-primary">Unsubscribe</button>
